h1, h2 {
	font-family: arial;
	background-color: lightgray;
	padding-left: 6px;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

code {
	background-color: lightgray;
	padding-left: 12px;
	padding-right: 12px;
}

.announcement {
	background-color: indianred;
	color: white;
	margin-top: 96px;
	margin-bottom: 96px;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 48px;
	padding-right: 48px;
}

/* Apply style to all list items in unordered lists only */
ul li {
	font-family: "comic sans ms";
	background-color: beige;
	margin-bottom: 16px;
}

/*Make all list items in ordered list bigger  (24px) */
ol li {
	font-size: 24px;
	background-color: beige;
	margin-bottom: 12px;
}

/*Make all <code> tags inside announcements black text on white background */
.announcement code {
	background-color: white;
	color: black;
}

p:last-child {
	color:blue;
}

body {
	padding-left: 300px;
	padding-right: 300px;
}

nav ul li {
	display: inline;
	background-color: blue;
}

nav ul {
	text-align: center;
}








