body {
  font-family: Arial;
  margin: 0;
}

button {
  font-family: Impact;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia;
}

header {
  color: white;
  background-color: black;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

header h2 a {
  color: yellow;
  text-decoration: none;
}

header nav {
  float: right;
}

header nav a {
  color: white;
  text-decoration: none;
}

.primary-navigation {
  font-family: Impact;
  text-transform: uppercase;
}

.primary-navigation, .secondary-navigation {
  display: inline;
  list-style: none;

  padding-left: 0;
}

.primary-navigation li, .secondary-navigation li {
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.motto {
  background-color: lightgray;

  padding-top: 1rem;
  padding-bottom: 1rem;

  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;

  text-align: center;
}

.strikethrough {
  color: gray;
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.hero {
  background-image: url('../images/coworking.jpg');
  background-size: 1400px;
  background-position: center;
  height: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sign-up-call-to-action {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 5px black;

  width: 30%;
  float: right;

  font-size: 26px;

  padding: 1rem;
  box-sizing: border-box;
  margin-right: 80px;
}

.sign-up-call-to-action button {
  width: 100%;
  background-color: gold;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero:after {
  content: "";
  display: table;
  clear: both;
}

.sign-up-call-to-action h1 {
  font-family: Arial;
}

.info-boxes:after {
  content: "";
  display: table;
  clear: both;
}

.info-box {
  width: 33%;
  float: left;

  padding-left: 1rem;
  padding-right: 1rem;

  box-sizing: border-box;
}

.info-box {
	font-size: 24px;
}

.info-box button {
	width: 80%;
	height: 20%;
	font-size: 24px;
	background-color: lightgray;
}

footer {
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

footer p {
	padding-left: 20px;
}

@media screen and (max-width: 768px) {
	.primary-navigation, .secondary-navigation {
		display: block;
		float: left;
	}

	.sign-up-call-to-action {
		width: 100%;
		margin: 0 auto;
	}

	.info-box {
		width: 100%;
	}

}


	